body {
	background-color: #F2E5BD;
}

p.error {
	color: red;
	font-weight: normal;
}

h1 {
	font-family: "Times New Roman", Times, serif;
	text-align: center;
}

.navbar-default .navbar-nav>li>a {
	background-color: #D9C7A7;
	color: black;
}
.navbar-default {
	background-color: #D9C7A7;
	color: black;
}

.navbar-default .navbar-brand {
    color: black;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #8C7D70;
}

a {
    color: black;
}